  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to SurveyMaster</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <%- include('../partials/header') %>


  <div class="survey-container">
    <h1 class="survey-title"><%= survey.title %></h1>
    <p class="survey-description"><%= survey.description %></p>
    <form action="/surveys/<%= survey._id %>/submit" method="post">
      <input type="hidden" name="title" value="<%= survey.title %>">
      <input type="hidden" name="description" value="<%= survey.description %>">
      <% survey.questions.forEach(function(question, index) { %>
        <div class="question">
          <h3>Question <%= index + 1 %>: <%= question.questionText %></h3>
          <% question.options.forEach(function(option, optionIndex) { %>
            <label class="option">
              <input type="radio" name="questions[<%= index %>][response]" value="<%= option.optionText %>">
              <span class="checkmark"></span>
              <%= option.optionText %>
            </label>
          <% }); %>
        </div>
      <% }); %>
      <button type="submit">Submit Survey</button>
    </form>
  </div>

  <%- include('../partials/footer') %>
